* {
  box-sizing: border-box;
}

:root {
  --main-color: hsl(322, 100%, 66%);
  --main-width: 375px;
  --second-width: 1200px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.special-p {
  font-size: 18px;
  text-align: center;

  font-weight: 400;
}

button:hover {
  cursor: pointer;
  opacity: 50%;
}
/* header  */

header {
  margin: 10px auto;
  width: var(--main-width);
  background-image: url(../images/bg-hero-mobile.svg);
  background-size: cover;
  padding: 0 10px;
}

header .logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

header .logo div {
  width: 50%;
}

header .logo div img {
  max-width: 100%;
}

header .logo button {
  background-color: white;
  border: none;
  padding: 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgb(222, 222, 222);
}

header .text {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .text h1 {
  font-size: 25px;
  text-align: center;
}

header .text button {
  width: 80%;
  color: white;
  background-color: var(--main-color);
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  margin: 20px 0;
}

header .image {
  width: 80%;
  margin: 20px auto;
}

header .image img {
  max-width: 100%;
}

@media (min-width: 768px) {
  header {
    width: 100%;
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
  }
}

@media (min-width: 768px) {
  header .logo {
    width: var(--second-width);
    margin: auto;
  }
}

@media (min-width: 768px) {
  header .container {
    display: flex;
    width: var(--second-width);
    margin: 50px auto;
  }

  header .text {
    width: 40%;
    align-items: flex-start;
  }
  header .text button {
    width: 50%;
  }

  header .text h1 {
    text-align: left;
  }

  header .text p {
    text-align: left;
  }

  header .image {
    width: 40%;
  }
}

/* header  */

/* section  */

section {
  width: var(--main-width);
  margin: auto;
  margin-bottom: 200px;
}

section .box {
  margin: 100px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 0 10px rgb(224, 224, 224);
}

section .box h2 {
  text-align: center;
}

section .box p {
  color: rgb(145, 145, 145);
}

section .box .image {
  width: inherit;
  margin-bottom: 50px;
}

section .box .image img {
  max-width: 100%;
}

@media (min-width: 768px) {
  section {
    width: var(--second-width);
  }
}

@media (min-width: 768px) {
  section .box {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  section .box .image {
    width: 40%;
  }

  section .box .text {
    width: 40%;
  }

  section .box .text h2 {
    text-align: left;
  }

  section .box .text p {
    text-align: left;
  }

  section .box:first-child .image {
    order: 5;
  }

  section .box:last-child .image {
    order: 5;
  }
}

/* section  */

/* footer  */

footer {
  width: var(--main-width);
  padding: 20px;
  background-color: hsl(192, 100%, 9%);
  color: white;
  margin: auto;
  padding-top: 150px;
  position: relative;
}

footer .float {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 40px 20px;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

footer .float h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

footer .float button {
  width: 80%;
  color: white;
  background-color: var(--main-color);
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  margin: 20px 0;
  margin: auto;
}

footer sec-1 {
  margin-bottom: 50px;
}

footer sec-1 div.p1 {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

footer sec-1 .p1 p {
  width: 80%;
  margin-top: 0;
}

footer sec-1 p {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 30px;
  position: relative;
}

footer sec-2 {
  display: flex;
  flex-direction: column;
}

footer sec-2 span {
  margin: 15px 0;
}

footer sec-2 span:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer sec-3 {
  display: flex;
  flex-direction: column;
}

footer sec-3 .icons {
  width: 40%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

footer sec-3 .icons i {
  color: white;
  font-size: 25px;
}

footer sec-3 .icons i:hover {
  color: var(--main-color);
  cursor: pointer;
}

footer sec-3 p {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 100px;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  footer .float {
    width: 50%;
  }
}

@media (min-width: 768px) {
  footer .float button {
    width: 40%;
    padding: 15px 10px;
  }
  footer .float h1 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  footer sec-1 {
    width: 40%;
  }
}

@media (min-width: 768px) {
  footer sec-2 {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media (min-width: 768px) {
  footer sec-3 {
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  footer sec-3 .icons {
    margin: 0;
  }
}
